body {
  width: 150px;
  height: auto;
  background-color: #ffffe6;
}

p {
  color: black;
  font-size: 18px;
}

h2 {
  text-align: center;
  color: grey;
  border-bottom: 1px dotted black;
}

button {
  color: black;
  background-color: #00cc99;
  font-size: 14px;
  border-radius: 10%;
  border: 2px solid #000000;
}

#d1 {
  text-align: center;
  padding-bottom: 10px;
}

#d2 {
  text-align: center;
  padding-bottom: 10px;
}

#d3 {
  text-align: center;
}
